<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集</title>
</head>
<body>
    <h1>編集</h1>
    <form action="/update/<%= todo.id %> " method="POST">
        <!-- put定義 -->
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="todoContent" value="<%= todo.content %> ">
        <input type="submit" value="更新">
    </form>
</body>
</html>