<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カテゴリー編集画面</title>
</head>
<body>
    <h1>カテゴリー編集画面</h1>
    <form action="/categories/update/<%= category[0].id %> " method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="categoryEdit" placeholder="<%= category[0].name %>">
        <input type="submit" value="編集">
    </form>
</body>
</html>